<div class="container box">
  <h3 class="title is-3"><%= @calc.title %></h3>

  <hr />

  <h4 class="subtitle is-3">Fuel required: <%= @calc.fuel_required %></h4>


  <h4 class="subtitle is-3">Directives: <%= @calc.directives %></h4>


  <h4 class="subtitle is-3">Mass: <%= @calc.mass %></h4>

</div>
